.prompt {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    background-color: #cce5ff;
    border: 1px solid #80a8d2;
    border-radius: 10px;
    padding: 7px;
}

.prompt > input {
    font-size: 24px;
    border-width: 2px;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
    display: block;
    color: #004085;
    width: 150px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.prompt > input::placeholder {
    color: #004085;
}

.prompt > button {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #80a8d2;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    color: #004085;
    margin-left: auto;
}

.prompt > button:hover {
    font-weight: 900;
    cursor: pointer;
}

.prompt > p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #004085;
}