.form {
    display: block;
    margin: 10px auto;
    padding: 15px;
    width: min-content;
    background-color: white;
    border-radius: 10px;
}

.form > div {
    display: block;
    margin: 10px 20px 10px;
}

.form .form__input {
    font-size: 24px;
    border-width: 2px;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-color: rgba(0, 0, 0, 0.65);
}

.form input:focus {
    outline: 0;
}

.form .form__button {
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    border-radius: 100px;
    border: 0;
    background-color: #3D59AB;
}

.form .form__button:hover {
    cursor: pointer;
    background-color: lightgray;
    color: black;
}

.form .form__button:checked {
    cursor: crosshair;
}

.form h1 {
    text-align: center;
}

.form .form__hr {
    border: none;
    color: rgba(0, 0, 0, 0.65);
    background-color: rgba(0, 0, 0, 0.65);
    height: 2px;
}